<div class='margin-wrapper' style='width: 75%'>
<%= form_with(model: [ @course, @course.course_modules.build ], local: true) do |form| %>

  <% if @course_module.errors.any?%>
    <div id="error_explanation">
      <h2> <%= pluralize(@course_module.errors.count, "error") %> prohibited this course from being saved: </h2>
      <ul>
        <% @course_module.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-5">
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= form.label :files %>
      <%= form.file_field :files, :multiple => true %>
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-xs-5">
      <%= form.submit "Submit"%>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-5">
    <%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Back'.html_safe, portal_course_path(@course), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %>
  </div>
</div>
</div>
