<div class='margin-wrapper' style='width: 75%;'>
  <div>
  <%= form_for User.new, url: create_user_path do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :username %><br />
        <%= f.text_field :username, class: 'form-control', autofocus: true, autocomplete: "username" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: 'form-control', autofocus: true, autocomplete: "firstname" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: 'form-control', autofocus: true, autocomplete: "lastname" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <%= f.label :type %>
        <%= f.select :type, ['Teacher', 'TeacherAssistant', 'Student'], class: 'form-control', autofocus: true%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"><br />
        <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Add user</button>
      </div>
    </div>
  <% end %>
</div>
