<head>
  <title>Cognify</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
  <style>body {
      font-family: 'Elianto-Regular';
      font-size: 18px;
  }</style>
</head>
<div class='margin-wrapper1'>
  <div class='wr-head'>
    <div style=' width: 150px; margin-right: 150px; margin-left: 10px'>
      Course
    </div>
    <div style=' width: 150px; margin-right: 150px; margin-left: -10px'>
      Category
    </div>
    <div style=' width: 150px; margin-right: 150px;'>
      Price
    </div>
    <div class="col-xs-1">  <%= link_to "Add Course", new_portal_course_path(@portal), {:class => "btn btn-info", :style => 'color: white; font-weight: bold;'} %></div>
  </div>
  <% @courses.each do |course|%>
    <div class="margin-wrapper2" align='left'>
      <div class="col-xs-12" style='padding-top: 20px;display:flex; background-color: #E3E6ED;'>
        <div style=' width: 150px; margin-right: 150px; margin-top: -5px'>
          <%= link_to course.title, course_path(course), {:style => 'color: black; font-weight: bold; margin-left: 20px;'} %>
        </div>
        <div style=' width: 150px; margin-right: 150px; margin-top: -5px'>
          <%= link_to course.category.name, category_path(course.category), {:style => 'color:black;'} %>
        </div>
        <div style=' width: 150px; margin-right: 150px; color: black; font-weight: bold; margin-left: 20px; margin-top: -5px'>
          <% if course.price.blank? || course.price == 0 %>
            Free
          <% else %>
            <%= course.price%>
          <% end %>
        </div>
        <div style='margin-top: -10px'>
          <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_course_path(course), {:style => 'color:#0079bf; font-weight: bold; font-size: 32px; '} %>
          <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:#0079bf; font-weight: bold; font-size: 32px'  %>
        </div>
        <%= link_to '<i class="fas fa-user-plus"></i>'.html_safe, edit_course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:#0079bf; font-weight: bold; font-size: 32px; margin-top: -13px; margin-left: 5px'  %>
      </div>
    </div>
  <% end %>
  <div class="col-xs-12" style=' height: 100px; text-align: center; background-color: white; font-size: 20px'>
    <%= will_paginate @projects  %>
  </div>
</div>
