<%= stylesheet_link_tag "courses.css" %>

<div class='content-panel1'>
  <div>
      <%= @course.title %>
  </div>

  <div>
      <%= @course.price %>
  </div>

  <div>
      <%= @course.category.name %>
  </div>

  <div>
      <%= @course.description %>
  </div>
</div>

<div class="col-xs-1">
  <%= link_to "New module", new_course_course_module_path(@course), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
</div>
<div class="col-xs-1">

  <% if current_user.can_create_group? %>
    <%= link_to "Add Group", new_course_group_path(@course), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
  <% end %>
</div>
<div class="col-xs-1">
  <% if current_user.can_add_teacher? %>
    <%= form_for @course, :url => {:action => :add_teacher} do |form| %>
      <%= form.collection_radio_buttons :teacher_ids, (Teacher.all - @course.teachers), :id, :full_name, multiple: true, include_hidden: false, include_blank: false do |b|%>
        <br>
        <%= b.radio_button %>
        <%= b.label %>
      <% end %>
      <p>
        <%= form.submit 'Add Teacher'%>
      </p>
    <% end %>
  <% end %>
</div>
<br>

<div class="col-xs-1">
  <%#= render 'attachments/file', attachments: @course.attachments%>
</div>
