<%= stylesheet_link_tag "courses.css" %>

<div class='content-panel1'>
  <div>
      <%= @course.title %>
  </div>

  <div>
      <%= @course.price %>
  </div>

  <div>
      <%= @course.category.name %>
  </div>

  <div>
      <%= @course.description %>
      <%= render 'attachments/file', attachments: @course.attachments%>
  </div>

</div>
