<%= stylesheet_link_tag "courses.css" %>

<div class='content-panel1'>
  <div>
      <%= @course.title %>
  </div>

  <div>
      <%= @course.description %>
  </div>

  <div>
      <%= @course.category.name %>
  </div>

  <div>
      <%= @course.price %>
  </div>
</div>
