<%= stylesheet_link_tag "courses.css" %>

<div class='content-panel1'>
  <div>
      <%= @course.title %>
  </div>

  <div>
      <%= @course.price %>
  </div>

  <div>
      <%= @course.category.name %>
  </div>

  <div>
      <%= @course.description %>
      <%= render 'attachments/file', attachments: @course.attachments%>
  </div>
  <div class="col-xs-1">
    <%= link_to "New module", new_course_course_module_path(@course), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
  </div>

</div>
